<section>
    <div class="reset-transformation">
        <div class="content">
            <div class="left-side">
                <div>{{'contact.SMALL-HEADLINE'|translate}}</div>
                <h2>{{'contact.SMALL-HEADLINE'|translate}}</h2>
                <p>{{'contact.TEXTBOX'|translate}}</p>
                <div class="desktop-arrow-img">
                    <img src="assets/img/arrow-contact-section.png" alt="">
                </div>
            </div>
            <form (ngSubmit)="onSubmit(contactForm)" class="right-side" #contactForm="ngForm">
                <div (mouseenter)="highlightOnFirstInput()" (mouseleave)="removeHighlightingFromFirstInput()"
                    class="input-box">
                    <label [ngClass]="{'label-hover-color':hoverOnFirstInput}" for="name">{{'contact.INPUT-NAME-LABEL'|translate}}</label>
                    <input placeholder="{{'contact.INPUT-NAME-PLACEHOLDER'|translate}}" #name="ngModel" id="name" name="name"
                        [(ngModel)]="contactData.name" type="text" required>
                    @if(!name.valid && name.touched &&!name.disabled){
                    <span class="error">{{'contact.INPUT-NAME-ERROR'|translate}}</span>
                    }
                </div>
                <div (mouseenter)="highlightOnSecondInput()" (mouseleave)="removeHighlightingFromSecondInput()"
                    class="input-box">
                    <label [ngClass]="{'label-hover-color':hoverOnSecondInput}" for="email">{{'contact.INPUT-EMAIL-LABEL'|translate}}</label>
                    <input placeholder="{{'contact.INPUT-EMAIL-PLACEHOLDER'|translate}}" #email="ngModel" id="email" name="email"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [(ngModel)]="contactData.email"
                        type="text" required>
                    @if(!email.valid && email.touched &&!email.disabled){
                    <span class="error">{{'contact.INPUT-EMAIL-ERROR'|translate}}</span>
                    }
                </div>
                <div (mouseenter)="highlightOnTextfield()" (mouseleave)="removeHighlightingFromTextfield()"
                    class="input-box">
                    <label [ngClass]="{'label-hover-color':hoverOnTextField}" for="message">{{'contact.INPUT-MESSAGE-LABEL'|translate}}</label>
                    <textarea placeholder="{{'contact.INPUT-MESSAGE-PLACEHOLDER'|translate}}" #message="ngModel" id="message" name="message"
                        required [(ngModel)]="contactData.message" rows="1"></textarea>
                    @if(!message.valid && message.touched &&!message.disabled){
                    <span class="error">{{'contact.INPUT-MESSAGE-ERROR'|translate}}</span>
                    }

                </div>
                <div class="custom-checkbox-container">
                    <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                        <input #privacy="ngModel" [(ngModel)]="privacyPolicy" name="privacy-policy" type="checkbox"
                            required="true">
                        <span class="checkmark"></span>
                    </label>
                    <p> <span>{{'contact.PRIVACY_VERIFICATION-FIRST-PART'|translate}}</span><a href="privacy-policy">{{'contact.PRIVACY_VERIFICATION-HIGHLIGHTED-PART'|translate}}</a> <span>{{'contact.PRIVACY_VERIFICATION-LAST-PART'|translate}}</span>  
                    </p>
                </div>

                @if(!privacy.valid && privacy.touched &&!privacy.disabled){
                <span style="padding-top: 10px;" class="error">{{'contact.INPUT-PRIVACY-ERROR'|translate}}</span>
                }

                <div class="send-button">
                    <div class="mobile-arrow-img">
                        <img src="assets/img/arrow-contact-section.png" alt="">
                    </div>
                    <button [ngClass]="{'button-disabled':!contactForm.valid}" class="white-button">{{'contact.SEND'|translate}}</button>
                </div>

            </form>


        </div>

        <app-footer></app-footer>
    </div>

</section>

    <div [ngStyle]="{'display': !sendMessageAnimation ? 'none' :'flex' }" [ngClass]="{'d-none': removeSendMessageContainer}" class="send-message"> 
    <span> {{'contact.SUCCESS'|translate}}</span>
</div>