section {
  width: 100%;
  background: url(../../../assets/img/background-above-the-fold.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  transform: scale(-1);
.max-width{ 
  position: relative;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  .icon{
    position: absolute;
    transform: scale(-1);
    width: 180px;
    bottom: -50px;
    left: 30px;
  }

  .reset-transformation {
    transform: scale(-1);
  }
}
}

.content {
  display: flex;
  padding: 144px 80px 0;
  .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    justify-content: flex-end;
  }
}

.desktop-arrow-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 80px;
  img {
    width: 50%;
  }
}

.mobile-arrow-img {
  display: none;
  img {
    width: 50%;
  }
}

.input-box {
  padding: 8px 0;
  border-width: 0 0 1px 0;
  border-color: #f7c518;
  border-style: solid;
  &:hover {
    border-width: 1px 0 1px 0;
    border-color: #3355ff;
  }

  input,
  textarea {
    width: 100%;
    color: white !important;
    padding: 12px 20px;
    background-color: transparent !important;
    border: 0px !important;
    outline: none !important;
    &:focus {
      border: 0px;
      border-color: none;
    }
  }

  textarea {
    resize: vertical;
  }

  label {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
  }
}

.label-hover-color {
  color: #f87a55;
}

.custom-checkbox-container {
  display: flex;
  margin-top: 10px;
  gap: 8px;
  align-items: center;

  .custom-checkbox {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      width: 25px;
      height: 25px;
    }

    .checkmark {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: #3355ff solid 4px;
      border-radius: 4px;
      transition: all 0.8s ease-in-out;
    }
  }

  p {
    flex: 1;
    a {
      color: #3355ff;
      text-decoration: none;
      &:hover {
        color: #f7c518;
      }
    }
  }
}

.error {
  color: red;
  font-size: 12px;
}

.custom-checkbox input:checked + .checkmark {
  background: url("../../../assets/img/checked.png") center/contain no-repeat;
}

.send-button {
  display: flex;
  justify-content: flex-end;
  button {
    margin-top: 16px;
    align-self: flex-end;
  }
}

.button-disabled {
  background-color: #c0c0c0;
  color: #6c757d;
  box-shadow: none;
}

.send-message {
  position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: 1s send-animation;
   transition: 1s opacity ease-in-out;
   span{
    background-color: #3355ff;
    color: white;
    padding: 50px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
   }
}

.d-none{
  opacity: 0;
}

@keyframes send-animation {
  0% {
    transform: translateY(200%);
  }
  30%{
    transform: translateY(80%);
  }
  40%{
    transform: translateY(80%);
  }
  50%{
    transform: translateY(3%);
  }
  70%{
    transform: translateY(-3%);
  }
  80%{
    transform: translateY(3%);
  }
  90%{
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}



@media (max-width: 950px) {
  .content {
    flex-direction: column;
  }
  .left-side,
  .right-side {
    width: 100% !important;
  }

  .right-side {
    margin-top: 16px;
    padding-left: 0 !important;
  }

  .desktop-arrow-img {
    display: none;
  }

  .send-button {
    justify-content: space-between !important;
  }
  .mobile-arrow-img {
    display: flex;
    img {
      object-fit: contain;
    }
  }
}

@media (max-width: 850px) {
  .content {
    padding: 144px 100px 0 !important;
  }
}

@media (max-width: 630px) {
  .content {
    padding: 144px 50px 0 !important;
  }

  .send-message { 
     span{
      width: 90%;
     }
     
  }
}

@media (max-width: 530px) {
  .content {
    padding: 144px 20px 0 !important;
  }
}
