<div class="project">
    <div (mouseover)="showProjectDetailsButton()" (mouseleave)="removeProjectDetailsButton()" class="project-img-container">
        <img [ngClass]="{'zoom-in':hover}" class="project-img" src="{{project.projectImg}}" alt="">
        <button (click)="navigateToSingleProject(project.projectID)" [ngClass]="{'d-none':!hover}" class="white-button desktop-button">Project Details</button>
        @if(project.projectID =='Join'){
            <img class="join-icon" src="assets/img/featured-project-icon.png  " alt="">
        }
    </div>
    <div class="project-details">
        <h3 class="project-name">{{project.projectName}}</h3>
        <p class="project-description"> {{ currentLanguage === 'en' ? project.projectDescription.en : project.projectDescription.de }}</p>
    </div>
    <button (click)="navigateToSingleProject(project.projectID)" class="black-button mobile-button">Project Details</button>
</div>