<header>
    <div class="max-witdh">
        <div class="hide-mobile">
            <span class="initials">FM</span>
            <a class="about-me" href="#about-me"> {{ 'header.ABOUT_ME' | translate }}</a>
            <a class="skills" href="#skills"> {{ 'header.SKILLS' | translate }}</a>
            <a class="projects" href="#projects"> {{ 'header.PROJECTS' | translate }}</a>
            <a class="contact" href="#contact"> {{ 'header.CONTACT' | translate }}</a>
            <div>
                <div class="language-toggle">
                    <span [class.active-lang-color]="!isEnglish">DE</span>
                    <div class="switch" (click)="changeLanguage()">
                        <div class="slider" [class.active-lang-position]="isEnglish"></div>
                    </div>
                    <span [class.active-lang-color]="isEnglish">EN</span>
                </div>
            </div>
        </div>

        <div class="hide-desktop">
            <span class="initials">FM</span>
            <img (click)="showResponsiveMenu()" (mouseenter)="isHoveredOnMenuIcon = true"
                (mouseleave)="isHoveredOnMenuIcon = false" class="icon"
                [src]="isHoveredOnMenuIcon ? 'assets/img/menu-hover.png' : 'assets/img/menu.png'" alt="">
        </div>
    </div>
</header>

<div [ngClass]="{'show-responsive-menu':responsiveMenu}" class="resposive-menu">
    <div class="header-responsive-menu">
        <span class="initials">FM</span>
        <img (mouseenter)="isHoveredOnCloseIcon = true" (mouseleave)="isHoveredOnCloseIcon = false"
            (click)="closeResponsiveMenu()" class="icon"
            [src]="isHoveredOnCloseIcon ? 'assets/img/close-hover-icon.png' : 'assets/img/close-icon.png'" alt="">
    </div>
    <div class="navigation">
        <a (click)="closeResponsiveMenu()" class="about-me" href="#about-me"> {{ 'header.ABOUT_ME' | translate }}</a>
        <a (click)="closeResponsiveMenu()" class="skills" href="#skills"> {{ 'header.SKILLS' | translate }}</a>
        <a (click)="closeResponsiveMenu()" class="projects" href="#projects"> {{ 'header.PROJECTS' | translate }}</a>
        <a (click)="closeResponsiveMenu()" class="contact" href="#contact"> {{ 'header.CONTACT' | translate }}</a>
        <div>
            <div class="language-toggle">
                <span [class.active-lang-color]="!isEnglish">DE</span>
                <div class="switch" (click)="changeLanguage()">
                    <div class="slider" [class.active-lang-position]="isEnglish"></div>
                </div>
                <span [class.active-lang-color]="isEnglish">EN</span>
            </div>
        </div>

    </div>
    <div class="icons">
        <a target="_blank" href="https://github.com/Fabian-85"> <img src="assets/img/github-icon.png" alt=""> </a>
        <a target="_blank" href="mailto:fabian.maier0805@hotmail.com"> <img src="assets/img/mail-icon.png" alt=""></a>
    </div>
</div>