<section  data-aos="fade-right">
    <div class="max-width">
        <div class="left-side">
            <div class="first-background">
                <img src="assets/img/location-icon.png" alt="">
                <p>{{ 'about-me.LIVE-IN' | translate }}</p>
            </div>
            <div class="second-background">
                <img src="assets/img/remote-icon.png" alt="">
                <p>{{ 'about-me.REMOTE' | translate }}</p>
            </div>
        </div>
        <div class="right-side">
            <p>{{ 'about-me.SMALL-HEADLINE' | translate }} </p>
            <div  class="headline">
                <h2>{{ 'about-me.HEADLINE' | translate }}
                    <img [ngClass]="{'underline-headline': isHeadlineDecorationVisible}"
                        src="assets/img/headline-about-me-underline.png" alt="">
                </h2>
            </div>
            <p appInView (inView)="handleInView($event)"> {{ 'about-me.TEXTBOX' | translate }}</p>
            <button (click)="navigateToContactSection()" class="black-button">
                {{ 'about-me.CONTACT-BUTTON' | translate }}
            </button>
        </div>
    </div>
</section>