<section>
    <div class="left-side">
        <div class="first-background">
            <img src="assets/img/location-icon.png" alt="">
            <p>Wohnhaft in Stuttgart</p>
        </div>
        <div class="second-background">
            <img src="assets/img/remote-icon.png" alt="">
            <p>Offen für Home Office</p>
        </div>
    </div>
    <div class="right-side">
        <p>Wer ist FABIAN? </p>
        <div class="headline">
            <h2>Über mich
                <img [ngClass]="{'underline-headline': isHeadlineDecorationVisible}"
                    src="assets/img/headline-about-me-underline.png" alt="">
            </h2>
        </div>
        <p>Hi, ich bin Fabian Maier-Kumpukkattu, ein Frontend Entwickler.
            Schon immer fasziniert mich, wie Code komplexe Probleme in einfache, effiziente Lösungen verwandelt.
            Dabei sehe ich jede Herausforderung als Chance, meine Fähigkeiten zu verbessern und nach der eleganten
            Lösung zu
            streben. Dabei bin ich stets auf der Suche nach neuen Herausforderungen, um mein Wissen und meine
            Fähigkeiten
            kontinuierlich weiterzuentwickeln.
        </p>
        <button (click)="navigateToContactSection()" class="black-button">
            Lass uns reden
        </button>
    </div>
</section>