<section>
    <div class="top-container">
        <div>
            <div>
                <button class="hello-world-button">Hello World</button>
            </div>
            <h1>
                Frontend
            </h1>
        </div>
        <img src="assets/img/hover-effect-contact.png" alt="">
    </div>
    <div class="bottom-container">
        <h1>
            Entwickler
        </h1>
        <button (click)="navigateToContactSection()" class="white-button">Get in Touch</button>
    </div>

    <div class="icons">
        <a href="https://github.com/Fabian-85"> <img src="assets/img/github-icon.png" alt=""> </a>
      <a href="mailto:fabian.maier0805@hotmail.com">   <img src="assets/img/mail-icon.png" alt=""></a>
    </div>
</section>