.background {
  background: url(../../assets/img/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  .max-width {
    width: 100%;
    max-width: 1920px;
  }
}

.imprint {
  padding: 100px 80px 80px 80px;
  color: white;
}

a{
    text-decoration: none;
    color: #3355ff;
  }
  
  @media (max-width: 950px) {
    .imprint {
      padding: 100px 80px 0px 80px;
    }
  }

@media (max-width: 850px) {
  .imprint {
    padding: 100px 100px 0 100px;
  }
}

@media (max-width: 630px) {
    .imprint {
        padding: 100px 50px 0 50px;
      }
}

@media (max-width: 530px) {
    .imprint {
        padding: 100px 20px 0 20px;
      }
}
