<div class="background">
    <div class="max-width">
        <div class='imprint'>
            <a href="/"> <img src="assets/img/back-arrow.png" alt=""></a>
            <h2>{{ 'imprint.HEADLINE' | translate }}</h2>
            <p>{{ 'imprint.INFORMATION' | translate }} § 5 DDG</p>
            <p>Fabian Maier-Kumpukkattu <br>
                Steckfeldstraße 77<br>
                70599 Stuttgart <br>
            </p>
            <br><br>
            <p><strong>{{ 'imprint.CONTACT' | translate }}:</strong> <br>
                {{ 'imprint.TELEFON' | translate }}: +49-15161008968<br>
                Email: <a href='mailto:fabian.maier0805@hotmail.com'>fabian.maier0805&#64;hotmail.com</a></p><br>

        </div>

        <app-footer></app-footer>
    </div>
</div>