* {
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@mixin dFlex($jc: center, $ai: center, $fd: row, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

h1 {
  font-size: 128px;
  font-weight: 700;
  line-height: 128px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

h4 {
  font-size: 23px;
  font-weight: 400;
  color: #70e61c;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.font-size-highlighted {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

button {
  font-size: 18px;
  font-weight: 400;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
}

.white-button {
  border: white solid 1px;
  color: white;
  box-shadow: 2px 2px 0px white;
  &:hover {
    background-color: #F87A55;
    box-shadow: none;
  }
}

.black-button {
  border: black solid 1px;
  color: black;
  box-shadow: 2px 2px 0px black;
  &:hover {
    background-color: #F87A55;
    box-shadow: none;
  }
}

@media (max-width: 850px) {
  h1{
    font-size: 64px;
    line-height: 100%;
  }
}

@media (max-width: 500px) {
 h1{
  font-size: 50px;
  line-height: 50px;
 }
}

@media (max-width: 360px) {
  h1{
   font-size: 40px;
   line-height: 40px;
  }
 }
/*---------------Fonts--------------------- */

/* bricolage-grotesque-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/bricolage/bricolage-grotesque-v7-latin-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/bricolage/bricolage-grotesque-v7-latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/bricolage/bricolage-grotesque-v7-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/bricolage/bricolage-grotesque-v7-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/bricolage/bricolage-grotesque-v7-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/bricolage/bricolage-grotesque-v7-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/bricolage/bricolage-grotesque-v7-latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kalam-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/kalem/kalam-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kalam-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/kalem/kalam-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Script";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/league-script/league-script-v28-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
