@import "../../../styles.scss";

section {
  background: url(../../../assets/img/background-skill-section.png);
  background-repeat: no-repeat;
  padding: 144px 120px;
  color: white;
}

.textbox {
  @include dFlex(center, center, row, 30px);
}

.skill-background {
  background: url(../../../assets/img/skill-description-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 656px;
  color: black;
  > p {
    padding: 38px;
  }
}

.skills {
  margin-top: 28px;
  @include dFlex(center, center, row);
  flex-wrap: wrap;
  .skill {
    width: 20%;
    @include dFlex(center, center, column);
    img {
      width: 72px;
      height: 72px;
      transition: all 0.8s ease-in-out;
      filter: grayscale(100%);  
      &:hover{
        transform: scale(0.8);  
        filter: none;
      }
    }
  }
}

@media (max-width: 850px) {
  section{
    padding: 144px 100px;
  }

  .skills {
    .skill {
      width: 33.33%;
      img {
        transform: scale(0.8);  
        filter: none;
      }
    }
  }

  .textbox{
    flex-direction: column;
    align-items: flex-end;
  }

  .skill-background{
    width: 100%;
  }
}

@media (max-width: 630px) {
  section {
    padding: 144px 50px;
  }
}

@media (max-width: 530px) {
  section {
    padding: 144px 20px;
  }
}
