<section>

    <div class="textbox">
        <div>
            <p>MY STACK</p>
            <h2>Skill set</h2>
        </div>

        <div class="skill-background">
            <p>
                Durch verschiedene Projekte habe ich umfassende Erfahrung mit einer Vielzahl von Frontend-Technologien
                gesammelt.Diese praktischen Erfahrungen haben nicht nur mein technisches Know-how vertieft, sondern auch
                meine Fähigkeiten in der Problemlösung. Gleichzeitig binich stets motiviert, neue Technologien zu
                erlernen und innovative Ansätze zu verfolgen, um mich kontinuierlich weiterzuentwickeln.
            </p>
        </div>
    </div>

    <div class="skills">
        @for (skill of skillsIcons; track $index) {
        <div class="skill">
            <img src="assets/img/skill-icons/{{skill.icon}}" alt="">
            <p>{{skill.name}}</p>
        </div>
        }
    </div>
</section>